.item {
    font-size: 25px;
    font-weight: 700;
    text-align: left;
    font-style: italic;
    display: flex;
    gap: 25px;
    justify-content: space-between;
}

.buttonDelete {
    color: white;
    font-size: 15px;
    display: inline-block;
    position: relative;
    padding: 10px;
    cursor: pointer;
    border-radius: 15px;
    font-weight: 700;
    border-color: transparent;
    background-color: #02780e;
    box-shadow: 5px 5px 9px -1px rgba(0, 0, 0, 0.47);
    -webkit-box-shadow: 5px 5px 9px -1px rgba(0, 0, 0, 0.47);
    -moz-box-shadow: 5px 5px 9px -1px rgba(0, 0, 0, 0.47);
}

.buttonDelete:hover,
.buttonDelete:focus {
    cursor: pointer;
    border: 2px solid #0539f4;
    background-color: #f7f706;
    font-weight: 700;
    border-radius: 20px;
    color: #0b0b0b;
    position: relative;
    scale: 1.15;
}